<!doctype html>
<html>
<head>
    <title>Authentication Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
  <header>
    <section class="leftHeader">
      <h1>Learn 2 Code!</h1>
    </section>
    <section class="rightHeader">
      <form action="/login" method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
    </section>
  </header>
  <section class="main">
    <section class="leftSec">
      <section class="connect">
        <h2>Watch a beginners tutorial on JavaScript</h2>
      </section>
      <section class="newspaper">
        <i class="far fa-newspaper"></i>
        <p><span>Chat with people</span> and friends in the Chat Feed.</p>
      </section>
      <section class="share">
        <i class="fas fa-laptop-code"></i>
        <p><span>Share what's new</span> and learn together!</p>
      </section>
    </section>
    <section class="rightSec">
      <section class="signUp">
        <h2>Sign Up</h2>
        <p>It's quick and easy.</p>
        <p>Sign Up Now! <a href="/signup">Sign Up</a></p>
      </section>
    </section>
  </section>
</body>
</html>
