*{
  box-sizing: border-box;
}
html{
  height: 100vh;
}
body{
  font-size: 10px;
  background-image: url("img/background.jpeg");
  background-size: 100%;
}
.page-header{
  float: right;
  width: 26.6%;
  color: white;
  background-color: maroon;
  text-align: center;
}
.well{
  color: white;
  float: left;
  /* border: 1px solid black; */
  width: 73.4%;
  padding-bottom: 0.9%;
  background-color: maroon;
}
.well h3{
  font-size: 1.2rem;
  margin: 0;
}
.well p{
  font-size: 0.9rem;
}
.well a{
  font-size: 0.75rem;
  text-decoration: none;
}
h1{
  font-size: 1.4rem;
  margin: 0;
  padding: 1%;
  padding-bottom: 11.2%;
}
.col-sm-6{
  float: right;
  /* border: 1px solid black; */
  width: 26.55%;
  background-color: maroon;
}
.col-sm-6 h2{
  font-size: 1.4rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black; 
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  background-color: maroon;
  text-align: center;
}
.col-sm-6 li{
  list-style: none;
  font-size: 0.84rem;
}
.col-sm-6 form{
  margin-left: 40%;
  margin-bottom: 10%;
}
.col-sm-6 input:first-of-type{
  display: none;
}
.messages{
  border: 1px solid black;
  padding: 0;
  padding-bottom: 120%;
  margin-top: 0;
  background-color: white;
}
.col-sm-6 a{
  font-size: 0.8rem;
  float: right;
  color: white;
  background-color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}
.video iframe{
  margin-left: 14%;
  margin-top: 8%;
}
